version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - EBIRD_API_KEY=${EBIRD_API_KEY}
      - DB_URL=jdbc:postgresql://db:5432/ebird
      - DB_USER=katrinaclow
      - DB_PASSWORD=A22ybb!!
    depends_on:
      - db
  db:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_USER: katrinaclow
      POSTGRES_PASSWORD: A22ybb!!
      POSTGRES_DB: ebird
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
