version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - EBIRD_API_KEY=${EBIRD_API_KEY}
    depends_on:
      - db
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: katrinaclow
      POSTGRES_PASSWORD: A22ybb!!
      POSTGRES_DB: ebird
    ports:
      - "5432:5432"
